/****************** REUSABLE *******************/
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #000a19;
  --hero-color:#003b99;
  --para-color: #504e4d;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 222, 0.2) 0px 7px 29px 0px;
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    border-radius: 0.6rem;
}
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}
.section-common-heading{
  font-size: 3.2rem;
  font-weight: 700;
}
.section-common-subheading{
  color: var(--heading-color);
  margin-top: .5rem;
}
.section-common--title{
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
}

.fa-solid{
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--heading-color) ;
}
/**************** REUSABLE *********************/

/****************** FIXED *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
  /* outline: 1px solid red; */
}
html {
  font-size: 62.5%;
  /* 1rem = 10px for responsive */
}

body {
  max-width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

h1,
h2.h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 142rem;
  padding: 9.6rem 2.4rem;
  margin: 0 auto;
}

/************* Fixed **************/

/*             Navbar Section Start           */

.section-navbar {
  min-width: 100vw;
  /* min-height: 10vh; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
    .navbar {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
        li {
          a {
            color: var(--heading-color);
            font-weight: 600;
            display: inline-block;
            font-size: 1.6rem;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -0.3rem;
              left: 0;
              width: 0%;
              border-bottom: 0.2rem solid var(--main-color);
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
/**************** NAV SECTION END ************/


/*********** HERO SECTION START **********/
main{
    width: 100%;
    background: linear-gradient(
        to top right,
        #3086fa,
        #4484fb,
        #679eff,
        #b3d2ff,
        #ebf3fe

    );
    min-height: 85vh;
    position: relative;
}
.section-hero{
    max-width: 142rem;
    margin: 0 auto;
}
.section-hero-grid-two--cols{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:6.4rem;
    text-align: left;

    & .hero-subheading{
        font-size: 1.7rem;
        letter-spacing: .2rem;
        word-spacing: .2rem;
        color: var(--hero-color);
        font-weight:700;
    }
    & .hero-heading{
        font-size: 5.6rem;
        font-family: "Poppins";
        color: var(--hero-color);
        font-weight: 900;
        line-height: 1.3;
        overflow-y: hidden;
    }
    & .hero-header-para{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 4rem ;
        color: var(--bg-color);
        font-weight: 500;
    }
}

.section-hero--image img{
    width: 100%;
    height: auto;
    
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
.custom-shape-divider-bottom-1742302641 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1742302641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1742302641 .shape-fill {
    fill: #FFFFFF;
}


/************** HERO SECTION END *************/



/************** About SECTION Start *************/

.section-about img{
  padding: 2.54rem;
  background-color: var(--supporting-color);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  overflow: hidden; /* Hide scrollbar */
}
.section-about .about-div{
  text-align: center;
}
.grid-three--cols{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6.4rem;
}

.about-div .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

.about-div .icon:hover > img{
  rotate: 360deg;
  background: linear-gradient(to right , #0575e6 , #021b79);

}
/************** About SECTION END *************/


/************** Courses SECTION Start *************/
.grid-four--cols{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3.2rem;
}
.grid-four--cols .course-div{
  padding: 3.2rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.grid-four--cols .course-div:hover{
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
  color: #183d3d;
  background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}
/************** Courses SECTION END *************/


/************** Why Choose SECTION Start *************/
.section-why--choose .grid {
  gap: 8rem;
}

.why-choose--div {
  margin-top: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.choose-center--div img {
  width: 90%;
  height: auto;
}

.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div figure:before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 37rem;
  height: 37rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.choose-center--div figure::before {
  animation: circle 5s linear infinite;
  -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}

.choose-center--div figure::after {
  width: 39rem;
  height: 39rem;
  background-color: transparent;
  z-index: -2;
  border: 0.5rem solid var(--supporting-color);
}

.choose-center--div figure{
  padding: 0 2rem;
}


/************** Why Choose SECTION END *************/
/************** Contact Home SECTION START *************/
.section-contact--homepage{
  width: 60%;
  height: 30rem;
  margin: 0 auto;
}

/************** CONTACT HOME SECTION END *************/

